

.App-header {
    text-align: center;
  }
  
  .game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .App-header h1, .App-header h2, .App-header .forms {
    margin: 0 auto;
    max-width: 600px; /* Optional: Set a maximum width for the content */
  }
  
  .App-header h1 {
    font-size: 6em;

    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .App-header h2 {
    margin-bottom: 10px;
    font-size: 2.4em;
  }
  
  .forms {
    margin-top: 20px;
  }

  .game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .game-container h5{
    font-size: 3em;
    color: #8e3dff;
    margin: 0;
    text-shadow: 0 0 10px #ffffff;
  }
  
  .question-box {
    width: 190px;
    background-color: #8e3dff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 4px solid #ffffff; /* Add a border for separation */
    border-radius: 15px; /* Optional: Add rounded corners */
    padding: 15px;
  }

  .question-box h5 {
    font-size: 1.7em;
    color: white;
    margin: 0;
  }

  .question-box h2 {
    font-size: 1.7em;
    color: white;
    margin: 0;
  }
                                                                         
  .wrong-circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh; /* Set height to full viewport height */
  }
  
  .wrong-circle {
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    border-radius: 50%; /* Use percentage to ensure a perfect circle */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a888ff;
    font-size: 7.5em;
    font-weight: bold;
    margin: 0;
  }
                                                                        

  .wrong-box h2 {
    font-size: 3em;
    color: rgb(255, 255, 255);
    margin: 0;
    
  }
  
  .wrong-box h3 {
    font-size: 1.7em;
    color: white;
    margin: 0;
    font-style: italic;
    font-weight: 300; 
  }

  .wrong-box h4 {
    font-size: 2.5em;
    color: white;
    margin: 0;
  }

  .wrong-box h5 {
    font-size: 2.2em;
    color: white;
    margin: 0;
    font-weight: 300; 
    text-shadow: 0 0 0px #ffffff;

  }