

.App-header {
    text-align: center;
  }
  
  .game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .App-header h1, .App-header h2, .App-header .forms {
    margin: 0 auto;
    max-width: 600px; /* Optional: Set a maximum width for the content */
  }
  
  .App-header h1 {
    font-size: 6em;

    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .App-header h2 {
    margin-bottom: 10px;
  }
  
  .forms {
    margin-top: 20px;
  }

  .game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .question-box {
    width: 190px;
    background-color: #8e3dff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 4px solid #ffffff; /* Add a border for separation */
    border-radius: 15px; /* Optional: Add rounded corners */
    padding: 15px;
  }
  
  .question-box h2 {
    font-size: 1.7em;
    color: white;
    margin: 0;
  }

  .wrong-box {
    width: 200px;
    background-color: #ff3d3d;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 4px solid #ffffff; /* Add a border for separation */
    border-radius: 15px; /* Optional: Add rounded corners */
    padding: 15px;
  }

  .wrong-box h2 {
    font-size: 1.7em;
    color: white;
    margin: 0;
  }
  
  .wrong-box h3 {
    font-size: .9em;
    color: white;
    margin: 0;
    font-style: italic;
    font-weight: 300; 
  }